 <!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Counting Stars</title>
      <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <!--style.css-->
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <img src="images/counting_stars_logo2.png" alt="logo2" />
    <nav class="gnav">
        <ul class="menu">
            <li><a href="/user"><%= User.find(session[:user]).username %></li>
            <li><a href="/signout">ログアウト</a></li>
        </ul>
    </nav>
</header>
<main> 
<div class="card" style="width: 30vw; margin:0 auto;">
    <div class="profile ">
        <img src="<%= User.find(session[:user]).img %>" alt="profile" class="prof">
    </div>
    <h4><%= User.find(session[:user]).username %></h4>
</div>
 
 
 
 
 
</main>

</body>
</html>