.login-all{
    text-align: center;
    background-image: url(/images/signup.jpg);
    background-size: cover;
    background-position: center;
}

.form{
  margin-top: 20vh;
  outline: none;
}

input{
  border: 1px solid;
  border-color: black;
}

::placeholder {
  color: black;
}

body {
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}


main {
    height: 100vw; /* スクロールの演出を見れるようにmainに高さを指定 */
    text-align:center;
}


header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: black;
  box-sizing: border-box;
}
header .inner {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.logo {
  position: relative;
  margin: 0;
  padding: 0;
}

/* header-navi */

header .navi {
  margin: 0 0 0 auto;
  padding: 0;
  font-size: 18px;
  display: flex;
  list-style: none;
}
header .navi li {
  margin: 5px 0 5px 40px;
}
header .navi li:first-child {
  margin-left: 0;
}
header .navi li a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
header .navi li a:hover {
  text-decoration: underline;
}

.create_count{
     width: 15vw;
     height: 5vh;
     border: none;
     background: #ffd700;
     color: white;
     font-weight: bold;
}

.photo{
  max-width: 100%;
  height: auto;
}

a{
    color: white;
}

.row{
    width: 80vw;
    margin:0 auto;
}

.plus{
    color: white; 
    background-color: cornflowerblue;
    width: 10vw;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    font-weight: bold; 
}

.delete{
    color: white; 
    background-color: silver;
    width: 10vw;
    margin-bottom: 10px;
    border: none;
    font-weight: bold; 
}

.prof{
    width: 10vw;
    height: 10vw;
    margin:0 auto;
    border-radius: 50%; 
}

/*.counter-box {*/
/*  position: relative;*/
/*}*/

.title{
  position: absolute;
  color: white;
  top: 30px;
  left: 90px;
  font-size: 30px;
  font-weight:700; 
  text-shadow: 2px 2px 3px #808080;
}

.number{
  position: absolute;/*絶対配置*/
  color: white;
  top:  50px;
  left: 90px;
  font-size: 80px;
  font-weight:700; 
  text-shadow: 2px 2px 3px #808080;
}

.name{
  position: absolute;/*絶対配置*/
  font-size: 10px;
  color: white;
  top: 130px;
  left: 120px;
}

.time{
  position: absolute;/*絶対配置*/
  font-size: 10px;
  /*color: white;*/
  top: 150px;
  left: 120px;
}

.card-footer{
   border:  none;
   background: none;
   top: 1--px;
}

.user-profile{
  width: 40vw;
  height: 30vh;
}