.login-all{
    text-align: center;
    background-image: url(/images/signup.jpg);
}

.form{
  margin-top: 25vh;
  outline: none;
}

input{
  border: 1px solid;
  border-color: black;
}

::placeholder {
  color: black;
}